
h1{
color: red
}  

h1 {
                color :rgb(2, 27, 248);
                background: cyan;
            }
            
            img  {
                border :10px  solid black;
                border-radius: 400px;
                background-color:rgb(71, 4, 255);
}

.footer{
    display: flex;
    justify-content: flex-end;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 p{
    text-align: center;
}